#encoding: CP1251
<%= form_for :person, url: person_path(@person), method: :patch do |f|%>

	<% if @person.errors.any? %>
		<div id="error_explanation">
		  <h2>
		   <%= pluralize(@person.errors.count,"error")%> необходимо устранить:
		  </h2>
			<ul>
				<% @person.errors.full_messages.each do |msg|%>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.label "Имя" %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label "Фамилия" %><br>
		<%= f.text_field :surname%>
	
	</p>
	<p>
		<%= f.label "Должность:" %><br>
		<%= f.select( :prof,[['Начальник смены',1],['Оператор',2],['Слесарь',3],['Слесаоь ПСХ',4],['Инженер КИП',5]]) %>
	</p>
	<p>
		<%= submit_tag("Ввод") %>
	</p>
<% end %>

