#encoding: CP1251
<p>
	<strong>Имя: </strong>
	<%= @person.name%>
  </p>
  <p>
	<strong>Фамилия: </strong>
	<%= @person.surname%>
  </p>
 <p>
	<strong>Должность: </strong>
	<%prof=[['Начальник смены',1],['Оператор',2],['Слесарь',3],['Слесарь ПСХ',4],['Инженер КИП',5]]%>
	<%index= @person.prof.to_i - 1%>
	<%= prof[0][index] %>
  </p>
		
	<%=link_to '<-Список сотрудников->', people_path%> | <%=link_to '<-Изменить->', edit_person_path(@person)%>

