#encoding: CP1251
<h1 align="center">ТЕХНОЛОГИЧЕСКИЕ ПАРАМЕТРЫ В СУШИЛКЕ</h1>


<table align="center" border = "1" cellpadding="5" style="border-collapse: collapse; border: 1px solid black;">
	<tr  style="background-color: lightgrey">
	    <th rowspan="3" >Время</th>	
	    <th colspan="7">Стадии сушки</th>
	    <th rowspan="3"> </th>
	</tr>
	<tr  style="background-color: lightgrey">
	    <th rowspan="2" >TR-90</th>	
	    <th rowspan="2" >TR-51</th>
	    <th colspan="5">TR-56</th>
    	</tr>
    	<tr  style="background-color: lightgrey">
    		<td > 1 яр </td>
    		<td > 2 яр </td>	
    		<td > 3 яр </td>
		<td > 4 яр </td>
		<td > 5 яр </td>
		
	</tr>
	<% re = /(\d+):(\d+)/ %>
	<% @shift.humparams.each do |p|%>
		<tr align="center">
			<%if p != NIL%>
			<% gt=re.match(p.htime.to_s)%>
			<td align="center"> <%=gt[0]%> </td>
			<td> <%=p.tr90%>%</td>
			<td><%=p.tr51%>%</td>
			<td><%=p.tr56_1%>%</td>
			<td><%=p.tr56_2%>%</td>
			<td><%=p.tr56_3%>%</td>
			<td><%=p.tr56_4%>%</td>
			<td><%=p.tr56_5%>%</td>
			<td> <%=link_to 'Удалить', [p.shift,p],
				method: :delete, data:{confirm: 'Подтвердить?'} %> </td>
		<%end%>
		</tr>	
	<%end%>

</table>
<br><br><br>

<%= render 'form'%>
<p align="center"><%= link_to '<- НАЗАД ->', shift_path(@shift)%></p>
