#encoding: CP1251
<table align="center" border = "1" cellpadding="5" style="border-collapse: collapse; border: 1px solid black;">
	<tr  style="background-color: skyblue">
		<th>Добавить останов:</th>
	</tr>
	<tr><td>	
	<%= form_for ([@shift, @shift.shotdowns.build]) do |f|%>
		<%= f.label "Начало:" %>
	<%=f.time_select :start %>
		</td></tr>
		<tr><td>
				<%= f.label "Конец:" %>
				<%=f.time_select :end %>
		</td></tr>
		<tr><td>
				<%= f.label "Причина:" %>
		<% sd_array = Shotdowntype.all.map{|p| [p.description,p.id]} %><%= f.select(:reason, sd_array)%></td></tr>
	
		<tr align="center"><td>
			<%= submit_tag("Ввод") %>
		</td></tr>
	<% end %>
		
</table>
