#encoding: CP1251
<h1 align="center">ОСТАНОВЫ ЛИНИИ</h1>


<table align="center" border = "1" cellpadding="5" style="border-collapse: collapse; border: 1px solid black;">
	<tr  style="background-color: lightblue">
	    <th>№:</th>	
	    <th>Время начала:</th>
	    <th>Время окончания:</th>
	    <th>Причина:</th>
	    <th colspan="3"></th>
	</tr>
	<% re = /(\d+):(\d+)/ %>
	<% i=0 %>
	<% @shift.shotdowns.order(:start).each do |sd|%>
	
		<%if sd != NIL%>
			<% i+=1%>
		    <tr>
		        <td align="center"> <%=i%> </td>
			<%st=re.match(sd.start.to_s)%>
			<td align="center"> <%= st[0] %> </td>
			<%st=re.match(sd.end.to_s)%>
			<td align="center"> <%= st[0] %> </td>
			<td> <%=Shotdowntype.find(sd.reason).description%> </td>
			<td> <%=link_to 'Просмотр', [sd.shift,sd]%> </td>
			<td> <%=link_to 'Изменить', [sd.shift,sd], method: :edit%> </td>
			<td> <%=link_to 'Удалить', [sd.shift,sd],
				method: :delete, data:{confirm: 'Подтвердить?'} %> </td>
		   </tr>	
 		<%end%>
	<%end%>

</table>
<br><br>
<%= render 'form'%>
<p align="center"><%= link_to '<- Назад ->', shift_path(@shift)%></p>
