#encoding: CP1251


	<%= form_for (@shift) do |f|%>

	<% if @shift.errors.any? %>
		<div id="error_explanation">
		  <h2>
		   <%= pluralize(@shift.errors.count,"error")%> необходимо устранить:
		  </h2>
			<ul>
				<% @shift.errors.full_messages.each do |msg|%>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

<table align="center" border = "1" cellpadding="5" style="border-collapse: collapse; border: 1px solid black;">
	<tr  style="background-color: silver">
	    <th align="center" >Ввод параметров:</th>	
	</tr>
	<tr>
		<td>	
			<%= f.label "Время" %><br>
			<%= f.select(:time,[['08:00',0],['20:00',1]])%>
		</td>
	</tr>
	<tr>
		<td>	
			<%= f.label "Дата" %><br>
			<%= f.date_select(:date)%>
		</td>
	</tr>
	<tr>
		<td>	
			<%= f.label "Начальник смены" %><br>
			<% men=[];op=[];sl=[];slpsh=[];slkip=[]%>
			<% mes='Выбрать'%>
			<%op[0]=mes;sl[0]=mes;slpsh[0]=mes;slkip[0]=mes%>
			<% index=0;opindex=1;slindex=1;pshindex=1;kipindex=1;%>
			
			<%Person.all.each do |el|%>
				<%if el.prof=='1'%>
					<%men[index]=el.surname%>
					<% index += 1 %>	
				<%elsif el.prof=='2'%>
					<%op[opindex]=el.surname%>
					<%opindex+=1%>			
				<%elsif el.prof=='3'%>
					<%sl[slindex]=el.surname%>
					<%slindex+=1%>
				<%elsif el.prof=='4'%>
					<%slpsh[pshindex]=el.surname%>
					<%pshindex+=1%>
				<%elsif el.prof=='5'%>
					<%slkip[kipindex]=el.surname%>
					<%kipindex+=1%>
				<%end%>

			<%end%>	

			<%= f.select(:manager,options_for_select(men)) %>
		</td>
	</tr>
	<tr>
		<td>	
			<%= f.label "Оператор №1" %><br>
			<%= f.select(:operator,options_for_select(op,2))%>
		</td>
	</tr>
	<tr>
		<td>	
			<%= f.label "Оператор №2" %><br>
			<%= f.select(:operator, options_for_select(op))%>		</td>
	</tr>
	<tr>
		<td>	
			<%= f.label "Оператор №3" %><br>
			<%= f.select(:operator, options_for_select(op))%>		</td>
	</tr>
	<tr>
		<td>	
			<%= f.label " Дежурный слесарь" %><br>
			<%= f.select(:mechanic, options_for_select(sl))%>		</td>
	</tr>
	<tr>
		<td>	
			<%= f.label "Дежурный слесарь ПСХ" %><br>
			<%= f.select(:mechanicpsh, options_for_select(slpsh))%>
		</td>
	</tr>
	<tr>
		<td>	
			<%= f.label "Дежурный слесарь КИП" %><br>
			<%= f.select(:kip, options_for_select(slkip))%>
		</td>
	</tr>
	<tr>
		<td align="center">
			<%= submit_tag("Ввод") %>
			
		</td>
	
	</tr>
<% end %>
</table>
