#encoding: CP1251
<style>
.header{
	text-align :center;
	font-size  :16pt;
	font-family :'Arial', monospace;
	font-style :bold;
	text-shadow :2px 2px 3px #444;
}
</style><%# Стиль для заголовков таблиц (с расплывчатой тенью)%>
<% empty="ПОКА НЕТ ЗАПИСЕЙ!"%>
<table align="left" border = "1" cellpadding="5" style="border-collapse: collapse; border: 1px solid black;">
	<tr  style="background-color: pink">
		<th > Линия PAVAN 2 </th>
    	</tr>
    	<tr  style="background-color: grey" >
		<% re = /(\d+):(\d+)/ %>
		<% rt = /(\d+)-(\d+)-(\d+)/ %>
		<% t= @shift.date %>
		<% d= rt.match(t.to_s) %>
		<% da=t.to_s.split(/-/)%>
		<th style="color: white"><%="-"+da[1]+"-"+da[0]%></th>
	    
	</tr>
	<tr style="background-color: lightgrey">
		<td><strong>Смена: </strong>
		<%shift_time={'0'=>'08:00','1'=>'20:00'}%>
		<%= shift_time[@shift.time]%></td>
  	</tr>
  	<tr style="background-color: lightgrey">
		 <td><strong>Начальник смены:</strong>
		<% manager = @shift.manager.to_i%>
		<% personrec = Person.find(manager)%>
		<%= personrec.surname+' '+personrec.name%></td>
	</tr>
	<tr style="background-color: lightgrey">
	 <td><strong>Оператор №1: </strong>
		<% operator = @shift.operator.to_i%>
		<% personrec = Person.find(operator)%>
		<%= personrec.surname+' '+personrec.name%></td>
	</tr>
	<% operator = @shift.operator1.to_i%>

	<%if !operator%>
	
		<tr style="background-color: lightgrey">
		
		<td><strong>Оператор №2: </strong>
			<% personrec = Person.find(operator)%>
		<%= personrec.surname+' '+personrec.name%></td>
		</tr>
	<%end%>
		<% operator = @shift.operator2.to_i%>
	<%if !operator%>
		<tr style="background-color: lightgrey">
	 	<td><strong>Оператор №3: </strong>
		<% personrec = Person.find(operator)%>
		<%= personrec.surname+' '+personrec.name%></td>
		</tr>
	<%end%>
	<tr style="background-color: lightgrey">
		 <td><strong>Дежурный Слесарь: </strong>
		<% mechanic = @shift.mechanic.to_i%>
		<% personrec = Person.find(mechanic)%>
		<%= personrec.surname+' '+personrec.name%></td>
	</tr>	
	<tr style="background-color: lightgrey">
		 <td><strong>Дежурный слесарь ПСХ: </strong>
		<% mechanicpsh = @shift.mechanicpsh.to_i%>
		<% personrec = Person.find(mechanicpsh)%>
		<%= personrec.surname+' '+personrec.name%></td>
	</tr>
	<tr style="background-color: lightgrey">
		 <td><strong>Дежурный слесарь КИП: </strong>
			<% kip = @shift.mechanicpsh.to_i%>
			<% personrec = Person.find(kip)%>
			<%= personrec.surname+' '+personrec.name%>
		</td>
	</tr>
	<tr style="background-color: lightgrey">
		 <td><strong>Ассортимент: </strong>
			<%@@sortament=@shift.genparams.last.sortament%>
			<%=Product.find(@@sortament.to_i).name%>
		</td>
	</tr>
	<tr style="background-color: lightgrey">
		 <td><strong>Поставщик: </strong>
			<%@@supplier=@shift.genparams.last.supplier_id%>
			<%=Supplier.find(@@supplier.to_i).name%>
		</td>
	</tr>

</table>
	<h2 class="header">==== ОСТАНОВЫ ====</h2>

<table align="center" border = "1" cellpadding="5" style="border-collapse: collapse; border: 1px solid black;">
	<tr  style="background-color: lightblue">
	    <th>№:</th>	
	    <th>Время начала:</th>
	    <th>Время окончания:</th>
	    <th>Место:</th>
	    <th>Причина:</th>
	    <th colspan="2"></th>
	</tr>
	<%sdowns=@shift.shotdowns.all%>
	<%if sdowns.size==0%>
		<tr><td align="center" colspan="6"><em><%=empty%></em></td></tr>
	<%else%>	
		<% i=0 %>
		<% sdowns.order(:start).each do |shotdown|%>
		<tr>
			<% i+=1 %>
			<td align="center"> <%=i %> </td>
			<% ms=re.match(shotdown.start.to_s)%>
			<td align="center"> <%= ms[0]%> </td>
			<td align="center"> <%= re.match(shotdown.end.to_s) %> </td>	
			<% sd_type=Shotdowntype.find(shotdown.reason)%>
			<td align="left"> <%=sd_type.location%> </td>
			<td> <%=sd_type.description%> </td>
			<td> <%=link_to 'Просмотр', [shotdown.shift,shotdown]%> </td>
			<td> <%=link_to 'Удалить', [shotdown.shift,shotdown],
				method: :delete, data:{confirm: 'Подтвердить?'} %> </td>
		</tr>
	<%end%>	
<%end%>

</table>
<br><br>
<h2 class="header">==== ВЛАЖНОСТЬ ПОЛУФАБРИКАТА ====</h2>
<table align="center" border = "1" cellpadding="5" style="border-collapse: collapse; border: 1px solid black;">
	<tr  style="background-color: pink">
	    <th rowspan="3" >Время</th>	
	    <th colspan="7">Стадии сушки</th>
	    <th rowspan="3"> </th>
	</tr>
	<tr  style="background-color: pink">
	    <th rowspan="2" >TR-90</th>	
	    <th rowspan="2" >TR-51</th>
	    <th colspan="5">TR-56</th>
    	</tr>
    	<tr  style="background-color: pink">
    		<td > 1 яр </td>
    		<td > 2 яр </td>	
    		<td > 3 яр </td>
		<td > 4 яр </td>
		<td > 5 яр </td>
		
	</tr>
	<%humparams=@shift.humparams.all%>
	<%if humparams.size==0%>
		<tr><td align="center" colspan="9"><em><%=empty%></em></td></tr>
	<%else%>
		<% humparams.each do |humparam|%>
		<tr align="center">
			<td align="center"> <%=re.match(humparam.htime.to_s)%> </td>
			<td> <%=humparam.tr90%>%</td>
			<td><%=humparam.tr51%>%</td>
			<td><%=humparam.tr56_1%>%</td>
			<td><%=humparam.tr56_2%>%</td>
			<td><%=humparam.tr56_3%>%</td>
			<td><%=humparam.tr56_4%>%</td>
			<td><%=humparam.tr56_5%>%</td>
			
			<td> <%=link_to 'Удалить', [humparam.shift,humparam],
				method: :delete, data:{confirm: 'Подтвердить?'} %> </td>
		</tr>	
	<%end%>
	<%end%>
</table>

</hr>		

<br><br><br>
<hr>
<h2 class="header">====  ИЗМЕНЕНИЕ ТЕХНОЛОГИЧЕСКИХ ПАРАМЕТРОВ ЗА СМЕНУ  ====</h2>
<hr>
<br><br><br>
<table align="center" border = "1" cellpadding="5" style="border-collapse: collapse; border: 1px solid black;">
	<tr  style="background-color: silver">
	    <th rowspan="3" >Время</th>	
	    <th rowspan="3" >Ассортимент</th>
	    <th rowspan="2" colspan="2">Вода на замес</th>
	    <th rowspan="3">Мука, кг/ч</th>
	    <th rowspan="3">Т воды на замес, град</th>
	    <th rowspan="2" colspan="2">Т головок, гр</th>
	    <th rowspan="2" colspan="2">Т цил., гр</th>
	    <th rowspan="2" colspan="2">Об.шнеков, 1/мин</th>
	    <th rowspan="2" colspan="2">Давление пресс., бар</th>
	    <th rowspan="3">Т TR-90, град</th>
	    <th colspan="2">TR-51</th>
	    <th colspan="10">TR-56</th>
	    <%# <th rowspan="3" ></th> %>
	</tr>
	<tr  style="background-color: silver">
	    <th rowspan="2" >T, град</th>	
	    <th rowspan="2" >Ф, %</th>
	    <th colspan="2">1 яр</th>
	    <th colspan="2">2 яр</th>
	    <th colspan="2">3 яр</th>
	    <th colspan="2">4 яр</th>
	    <th colspan="2">5 яр</th>
    	</tr>
    	<tr  style="background-color: silver">
    		<td > % </td>
    		<td > л/ч </td>	
    		<td align="center"> 1 </td>
		<td align="center"> 2 </td>
		<td align="center"> 1 </td>
		<td align="center"> 2 </td>
		<td align="center"> 1 </td>
		<td align="center"> 2 </td>
		<td align="center"> 1 </td>
		<td align="center"> 2 </td>
		<td > Т, гр </td>
		<td > Ф, % </td>
		<td > Т, гр </td>
		<td > Ф, % </td>
		<td > Т, гр </td>
		<td > Ф, % </td>
		<td > Т, гр </td>
		<td > Ф, % </td>
		<td > Т, гр </td>
    		<td > Ф, % </td>
	</tr>
	<%techparams=@shift.techparams.all%>
	<%genparams=@shift.genparams.all%>
	<%if (techparams.size==0)&&(genparams.size==0)%>
		<tr><td align="center" colspan="27"><em><%=empty%></em></td></tr>
	<%else%>	
		<% ind=0 %>	
		<% techparams.each do |techparam|%>
			<%if techparam.ttime== NIL %>
				<% techparam.ttime='0' %>
			<%end%>
			<%@monitor[ind]={'time'=>re.match(techparam.ttime.to_s),
		                         'waterpc'=>techparam.waterpc,
					 'waterl'=>techparam.waterl, 
					 'flour'=>techparam.flour,
					 'tempz'=>techparam.tempz,
					 'temph1'=>techparam.temph1,
					 'temph2'=>techparam.temph2,
					 'tempcyl1'=>techparam.tempcyl1,
					 'tempcyl2'=>techparam.tempcyl2,
					 'rotate1'=>techparam.rotate1,
					 'rotate2'=>techparam.rotate2,
					 'press1'=>techparam.press1,
					 'press2'=>techparam.press2,
					 'temp90'=>techparam.temp90,
					 'temp51'=>techparam.temp51,
					 'hum51'=>techparam.hum51,
					 'temp56_1'=>techparam.temp56_1,
					 'temp56_2'=>techparam.temp56_2,
					 'temp56_3'=>techparam.temp56_3,
					 'temp56_4'=>techparam.temp56_4,
					 'temp56_5'=>techparam.temp56_5,
					 'hum56_1'=>techparam.hum56_1,
					 'hum56_2'=>techparam.hum56_2,
					 'hum56_3'=>techparam.hum56_3,
					 'hum56_4'=>techparam.hum56_4,
					 'hum56_5'=>techparam.hum56_5
			}%>

			<%ind+=1%>	
	<%end%>
	<%genparams.each do |p|%>
	<% if p != NIL%>
		<% gt=re.match(p.start.to_s)%>      
		<tr align="center" style="background-color: lightgrey">
				<%st=p.sortament.to_i%>
				<% if (st!=0) %>
					<% sort=Product.find(st)%>
					<%#= sort.name%>
				<%else %>
					<%= "Not defined!"%>
				<%end%>
			
			<%@monitor[ind]={'time'=>re.match(p.start.to_s),
		    			 'sortament'=>sort.name,
					 'waterpc'=>p.waterpc,
					  'waterl'=>p.waterl, 
					 'flour'=>p.flour,
					 'tempz'=>p.watert,
					 'temph1'=>p.headt1,
					 'temph2'=>p.headt2,
					 'tempcyl1'=>p.cylt1,
					 'tempcyl2'=>p.cylt2,
					 'rotate1'=>p.rot1,
					 'rotate2'=>p.rot2,
					 'press1'=>p.pressbar1,
					 'press2'=>p.pressbar2,
					 'temp90'=>p.tr90t,
					 'temp51'=>p.tr51t,
					 'hum51'=>p.tr51f,
					 'temp56_1'=>p.tr561t,
					 'temp56_2'=>p.tr562t,
					 'temp56_3'=>p.tr563t,
					 'temp56_4'=>p.tr564t,
					 'temp56_5'=>p.tr565t,
					 'hum56_1'=>p.tr561f,
					 'hum56_2'=>p.tr562f,
					 'hum56_3'=>p.tr563f,
					 'hum56_4'=>p.tr564f,
					 'hum56_5'=>p.tr565f
					}%>

		<%ind+=1%>
	<% end%>

	<%end%>

	<%smonitor=@monitor.sort_by{|a| a['time'].to_s} %>
	<%smonitor.each_with_index do |el,i|%>
		<%if el['sortament']!=NIL%>
			<tr align="center" style="background-color: lightgrey">
		<%else%>
			<tr align="center" style="">			
		<%end%>
		
			<td align="center"> <%=el['time']%> </td>
			<td><%=el['sortament']%></td>		
			<td><%=el['waterpc']%>%</td>
			<td><%=el['waterl']%> </td>
			<td><%=el['flour']%></td>
			<td><%=el['tempz']%></td>
			<td><%=el['temph1']%></td>
			<td><%=el['temph2']%></td>
			<td><%=el['tempcyl1']%></td>
			<td><%=el['tempcyl2']%></td>
			<td><%=el['rotate1']%></td>
			<td><%=el['rotate2']%></td>
			<td><%=el['press1']%></td>
			<td><%=el['press2']%></td>
			<td><%=el['temp90']%></td>
			<td><%=el['temp51']%></td>
			<td><%=el['hum51']%>%</td>
			<td><%=el['temp56_1']%></td><td><%=el['hum56_1']%>%</td>
			<td><%=el['temp56_2']%></td><td><%=el['hum56_1']%>%</td>
			<td><%=el['temp56_3']%></td><td><%=el['hum56_1']%>%</td>
			<td><%=el['temp56_4']%></td><td><%=el['hum56_1']%>%</td>
			<td><%=el['temp56_5']%></td><td><%=el['hum56_1']%>%</td>

		</tr>
	<%end%>	
<%end%>
</table>

<br><br><br><br><br><br>
<br>
<hr>
</hr>
<div align="center">
<%=link_to '<-Назад->', shifts_path%> | 
<%=link_to '<-Изменить->', edit_shift_path(@shift)%>| 
<%=link_to '<-Сотрудники->', people_path%>|
<%=link_to '<-Причины->', shotdowntypes_path%>|

<% @shift.shotdowns.build do |stdown|%>
<%=link_to '<- Остановы ->', [stdown.shift, stdown] %>
<%end%>|

<% @shift.humparams.build do |humparam|%>
<%=link_to '<- Влажность ->', [humparam.shift, humparam] %>
<%end%>|

<% @shift.genparams.build do |genparam|%>
<%=link_to '<- Ввод плановых данных ->', [genparam.shift, genparam] %>
<%end%>|

<% @shift.techparams.build do |techparam|%>
<%=link_to '<- Ввод фактических данных ->', [techparam.shift, techparam] %>
<%end%>
</div>
